body {
    font-family: Helvetica;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    gap: 32px;
}

li {
    list-style: nome;
}

a {
    text-decoration: nome;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px red;
    font-weight: bold;
    color: black;
    transition: 2s;
}

a:hover { 
    background-color: blue;
}